{"version":3,"sources":["helpers/_global.sass","helpers/_mixins.sass","layouts/_header.sass","layouts/_nav.sass","layouts/_about.sass","layouts/_home.sass","layouts/_contact.sass","components/_preloader.sass"],"names":[],"mappings":"AAAA;EACE,kCAAiC;EACjC,mBAAkB,EAAI;;AACxB;EACE,gBAAe,EAAI;;AAErB;EACE,mBAAkB;EAClB,gBAAe;EACf,uBAAsB,EAOG;ECXzB;IDCF;MAMI,gBAAe,EAIQ,EAAA;EAV3B;IASI,eAAc;IACd,kBAAiB,EAAI;;AACzB;EACE,gBAAe,EAAI;;AACrB;EACE,mBAAkB,EAAI;;AAExB;EACE,cAAa,EASQ;EC3BrB;IDiBF;MAII,cAAa,EAMM,EAAA;ECvBrB;IDaF;MAOI,cAAa,EAGM,EAAA;ECnBrB;IDSF;MAUI,cAAa,EAAM,EAAA;;AAEvB;EACE,qCAAoC,EAAI;;AEnC1C;EACE,iBAAgB,EAiDW;EDzC3B;ICTF;MAII,cAAa,EA8CY,EAAA;ED7C3B;ICLF;MAMI,cAAa,EA4CY,EAAA;EAlD7B;IASI,uBAAsB;IACtB,eAAc,EAAI;EAVtB;IAYI,qBAAoB,EAAI;EAZ5B;;;IAiBI,qBAAa;IAAb,qBAAa;IAAb,cAAa;IACb,+BAAmB;IAAnB,8BAAmB;QAAnB,wBAAmB;YAAnB,oBAAmB;IACnB,aAAY;IACZ,0BAAmB;QAAnB,uBAAmB;YAAnB,oBAAmB;IACnB,yBAAuB;QAAvB,sBAAuB;YAAvB,wBAAuB,EAEC;IAvB5B;;;MAuBM,iBAAgB,EAAI;EAvB1B;IA0BI,kBAAiB;IACjB,mBAAkB,EAYY;IAvClC;MA8BM,sBAAqB;MACrB,iBAAgB,EAQU;MAvChC;QAkCQ,aAAY;QACZ,eAAc;QACd,YAAW;QACX,aAAY;QACZ,kBAAiB;QACjB,mBAAkB,EAAI;EAvC9B;IA0CI,eAAc,EAAI;EA1CtB;IA6CI,sBAAqB,EAAI;EA7C7B;IAgDI,qBAAa;IAAb,qBAAa;IAAb,cAAa;IACb,UAAS;IACT,0BAAmB;QAAnB,uBAAmB;YAAnB,oBAAmB,EAAI;;AClD3B;EACE,kCAAyB;EAAzB,0BAAyB;EACzB,qCAAoC,EAmBrB;EFZf;IETF;MAII,kCAAyB;MAAzB,0BAAyB;MACzB,gBAAe;MACf,cAAa;MACb,OAAM;MACN,QAAO,EAaM,EAAA;EFhBf;IELF;MAUI,kCAAyB;MAAzB,0BAAyB;MACzB,gBAAe;MACf,cAAa;MACb,OAAM;MACN,QAAO,EAOM,EAAA;EArBjB;IAiBI,kCAAyB;IAAzB,0BAAyB;IACzB,gBAAe;IACf,cAAa;IACb,OAAM;IACN,QAAO,EAAI;;ACrBf;EAEI,qBAAa;EAAb,qBAAa;EAAb,cAAa;EACb,6BAAsB;EAAtB,8BAAsB;MAAtB,2BAAsB;UAAtB,uBAAsB,EA0BA;EA7B1B;IAMM,qBAAa;IAAb,qBAAa;IAAb,cAAa;IACb,YAAW;IACX,+BAAmB;IAAnB,8BAAmB;QAAnB,wBAAmB;YAAnB,oBAAmB;IACnB,0BAAmB;QAAnB,uBAAmB;YAAnB,oBAAmB,EAeO;IAxBhC;MAYQ,uBAAsB;MACtB,mBAAkB;MAClB,YAAW;MACX,gBAAe;MACf,YAAW;MACX,aAAY;MACZ,kBAAiB;MACjB,mBAAkB,EAAI;IAnB9B;MAsBQ,gBAAe;MACf,kBAAiB;MACjB,mBAAkB,EAAI;EAxB9B;IA2BQ,eAAc;IACd,gBAAe;IACf,aAAY,EAAI;;AC7BxB;EACE,2BAA0B;EAC1B,uBAAsB;EACtB,kBAAiB,EAkCoB;EJhCrC;IILF;MAMI,qBAAoB,EA+Be,EAAA;EJ5BrC;IITF;MAQI,kBAAiB,EA6BkB,EAAA;EJxBrC;IIbF;MAUI,kBAAiB,EA2BkB,EAAA;EArCvC;IAaI,iBAAgB;IAChB,gBAAe;IACf,qBAAoB,EAOK;IJjB3B;MILF;QAkBM,gBAAe,EAIQ,EAAA;IAtB7B;MAqBM,eAAc;MACd,kBAAiB,EAAI;EAtB3B;IAwBI,wBAAuB;IACvB,mBAAkB;IAClB,YAAW;IACX,gBAAe;IACf,kBAAiB;IACjB,iBAAgB;IAChB,aAAY;IACZ,aAAY;IACZ,kBAAiB;IACjB,yCAAgC;IAAhC,iCAAgC,EAIC;IArCrC;MAoCM,oBAAmB;MACnB,0BAAyB,EAAI;;ACrCnC;EACE,iBAAgB,EAiCkB;EAlCpC;IAII,mBAAkB;IAClB,eAAc;IACd,0BAAyB;IACzB,mBAAkB;IAClB,YAAW;IACX,aAAY;IACZ,kBAAiB;IACjB,mBAAkB;IAClB,gBAAe,EAAI;EAZvB;IAeI,eAAc;IACd,0BAAmB;QAAnB,uBAAmB;YAAnB,oBAAmB;IACnB,yBAAuB;QAAvB,sBAAuB;YAAvB,wBAAuB,EAiBO;IAlClC;MAoBM,sBAAqB;MACrB,iBAAgB,EAaU;MAlChC;QAuBQ,mBAAkB,EAAI;MAvB9B;QAyBQ,0BAAyB;QACzB,eAAe;QACf,mBAAkB;QAClB,YAAW;QACX,aAAY;QACZ,kBAAiB;QACjB,mBAAkB;QAClB,sBAAqB;QACrB,yCAAgC;QAAhC,iCAAgC;QAChC,mBAAkB,EAAI;;AClC9B;EACE,gBAAe;EACf,OAAM;EACN,QAAO;EACP,YAAW;EACX,aAAY;EACZ,eAAc;EACd,qBAAa;EAAb,qBAAa;EAAb,cAAa;EACb,+BAAqB;EAArB,8BAAqB;MAArB,0BAAqB;UAArB,sBAAqB;EACrB,yBAAuB;MAAvB,sBAAuB;UAAvB,wBAAuB;EACvB,0BAAmB;MAAnB,uBAAmB;UAAnB,oBAAmB;EACnB,2CAA0C,EAwBV;EAnClC;IAcI,YAAW;IACX,aAAY;IACZ,mBAAkB;IAClB,gBAAe,EAAI;EAjBvB;IAmBI,uBAAsB;IACtB,aAAY;IACZ,WAAU;IACV,sBAAqB;IACrB,iEAAwD;YAAxD,yDAAwD,EAAI;EAvBhE;IA0BI,+BAAsB;YAAtB,uBAAsB,EAAI;EA1B9B;IA6BI,6BAAoB;YAApB,qBAAoB,EAAI;EA7B5B;IAgCI,+BAAsB;YAAtB,uBAAsB,EAAI;EAhC9B;IAmCM,+BAAsB;YAAtB,uBAAsB,EAAI;;AAEhC;EACE;IACE,+BAAsB;YAAtB,uBAAsB,EAAA;EACxB;IACE,6BAAoB;YAApB,qBAAoB,EAAA,EAAA;;AAExB;EACE;IACE,+BAAsB;YAAtB,uBAAsB,EAAA;EACxB;IACE,6BAAoB;YAApB,qBAAoB,EAAA,EAAA","file":"app.css","sourcesContent":["body {\n  font-family: 'Roboto', sans-serif;\n  overflow-x: hidden; }\np {\n  font-size: 20px; }\n\nh2 {\n  text-align: center;\n  font-size: 40px;\n  padding: 20px 0 40px 0;\n\n  @include smartphone {\n    font-size: 25px; }\n\n  span {\n    color: #28a7e9;\n    font-weight: bold; } }\nsection {\n  padding: 20px 0; }\naddress {\n  font-style: normal; }\n\n.parallax-container {\n  height: 600px;\n\n  @include smartphone {\n    height: 300px; }\n\n  @include tablet {\n    height: 400px; }\n\n  @include desktop {\n    height: 500px; } }\n\n.blue {\n  background-color: #28a7e9 !important; }\n","$smartphone-width: 360px;\n$tablet-width: 768px;\n$desktop-width: 1024px;\n\n@mixin smartphone {\n  @media (min-width: #{$smartphone-width}) and (max-width: #{$tablet-width - 1px}) {\n    @content; } }\n\n@mixin tablet {\n  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {\n    @content; } }\n\n@mixin desktop {\n  @media (min-width: #{$desktop-width}) {\n    @content; } }\n","header {\n  min-height: 30px;\n\n  @include tablet {\n    display: none; }\n  @include smartphone {\n    display: none; }\n\n  .container {\n    vertical-align: middle;\n    display: block; }\n  .row {\n    margin: 0 !important; }\n\n  .header-emails,\n  .header-phone,\n  .header-social {\n    display: flex;\n    flex-direction: row;\n    height: 100%;\n    align-items: center;\n    justify-content: center;\n    ul {\n      list-style: none; } }\n\n  .social-icon {\n    text-align: right;\n    position: relative;\n\n    li {\n      display: inline-block;\n      list-style: none;\n\n      a {\n        border: none;\n        color: #28a7e9;\n        width: 30px;\n        height: 30px;\n        line-height: 30px;\n        text-align: center; } } }\n\n  .material-icons {\n    color: #28a7e9; }\n\n  span {\n    padding: 0 10px 0 8px; }\n\n  p {\n    display: flex;\n    margin: 0;\n    align-items: center; } }\n",".nav {\n  transition: all 0.5s ease;\n  background-color: #28a7e9 !important;\n  @include tablet {\n    transition: all 0.3s ease;\n    position: fixed;\n    z-index: 1000;\n    top: 0;\n    left: 0; }\n  @include smartphone {\n    transition: all 0.3s ease;\n    position: fixed;\n    z-index: 1000;\n    top: 0;\n    left: 0; }\n\n  &.nav-sticky {\n    transition: all 0.3s ease;\n    position: fixed;\n    z-index: 1000;\n    top: 0;\n    left: 0; } }\n","#about {\n  .media {\n    display: flex;\n    flex-direction: column;\n\n    header {\n      display: flex;\n      width: 100%;\n      flex-direction: row;\n      align-items: center;\n\n      .media-icon {\n        border: 1px solid #fff;\n        border-radius: 2px;\n        color: #fff;\n        font-size: 24px;\n        width: 60px;\n        height: 60px;\n        line-height: 60px;\n        text-align: center; }\n\n      .media-heading {\n        font-size: 18px;\n        font-weight: bold;\n        padding-left: 40px; } }\n\n    .media-body {\n        display: block;\n        padding: 20px 0;\n        height: 100%; } } }\n","#home {\n  background-size: 100% auto;\n  padding: 160px 0 100px;\n  min-height: 300px;\n\n  @include smartphone {\n    padding: 50px 0 50px; }\n  @include tablet {\n    min-height: 500px; }\n  @include desktop {\n    min-height: 700px; }\n\n  h1 {\n    font-weight: 300;\n    font-size: 40px;\n    padding-bottom: 10px;\n\n    @include smartphone {\n      font-size: 25px; }\n\n    span {\n      color: #28a7e9;\n      font-weight: bold; } }\n  .btn {\n    background: transparent;\n    border-radius: 2px;\n    color: #fff;\n    font-size: 16px;\n    font-weight: bold;\n    margin-top: 20px;\n    width: 180px;\n    height: 60px;\n    padding-top: 18px;\n    transition: all 0.4s ease-in-out;\n\n    &:hover {\n      background: #28a7e9;\n      border-color: transparent; } } }\n","#contact {\n  font-weight: 500;\n\n  .fa {\n    margin-right: 10px;\n    color: #28a7e9;\n    border: 1px solid #28a7e9;\n    border-radius: 2px;\n    width: 40px;\n    height: 40px;\n    line-height: 40px;\n    text-align: center;\n    cursor: pointer; }\n\n  .social-icon {\n    position: flex;\n    align-items: center;\n    justify-content: center;\n\n    li {\n      display: inline-block;\n      list-style: none;\n      h4 {\n        margin-right: 10px; }\n      a {\n        border: 1px solid #28a7e9;\n        color:  #28a7e9;\n        border-radius: 2px;\n        width: 40px;\n        height: 40px;\n        line-height: 40px;\n        text-align: center;\n        text-decoration: none;\n        transition: all 0.4s ease-in-out;\n        margin-right: 10px; } } } }\n",".preloader {\n  position: fixed;\n  top: 0;\n  left: 0;\n  width: 100%;\n  height: 100%;\n  z-index: 99999;\n  display: flex;\n  flex-flow: row nowrap;\n  justify-content: center;\n  align-items: center;\n  background: none repeat scroll 0 0 #ffffff;\n\n  .sk-spinner-wave.sk-spinner {\n    width: 50px;\n    height: 30px;\n    text-align: center;\n    font-size: 10px; }\n  .sk-spinner-wave div {\n    background-color: #333;\n    height: 100%;\n    width: 6px;\n    display: inline-block;\n    animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }\n\n  .sk-spinner-wave .sk-rect2 {\n    animation-delay: -1.1s; }\n\n  .sk-spinner-wave .sk-rect3 {\n    animation-delay: -1s; }\n\n  .sk-spinner-wave .sk-rect4 {\n    animation-delay: -0.9s; }\n\n  .sk-spinner-wave .sk-rect5 {\n      animation-delay: -0.8s; } }\n\n@-webkit-keyframes sk-waveStretchDelay {\n  0%, 40%, 100% {\n    transform: scaleY(0.4); }\n  20% {\n    transform: scaleY(1); } }\n\n@keyframes sk-waveStretchDelay {\n  0%, 40%, 100% {\n    transform: scaleY(0.4); }\n  20% {\n    transform: scaleY(1); } }\n"]}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

p {
  font-size: 20px; }

h2 {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 40px 0; }
  @media (min-width: 360px) and (max-width: 767px) {
    h2 {
      font-size: 25px; } }
  h2 span {
    color: #28a7e9;
    font-weight: bold; }

section {
  padding: 20px 0; }

address {
  font-style: normal; }

.parallax-container {
  height: 600px; }
  @media (min-width: 360px) and (max-width: 767px) {
    .parallax-container {
      height: 300px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .parallax-container {
      height: 400px; } }
  @media (min-width: 1024px) {
    .parallax-container {
      height: 500px; } }

.blue {
  background-color: #28a7e9 !important; }

header {
  min-height: 30px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    header {
      display: none; } }
  @media (min-width: 360px) and (max-width: 767px) {
    header {
      display: none; } }
  header .container {
    vertical-align: middle;
    display: block; }
  header .row {
    margin: 0 !important; }
  header .header-emails,
  header .header-phone,
  header .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .header-emails ul,
    header .header-phone ul,
    header .header-social ul {
      list-style: none; }
  header .social-icon {
    text-align: right;
    position: relative; }
    header .social-icon li {
      display: inline-block;
      list-style: none; }
      header .social-icon li a {
        border: none;
        color: #28a7e9;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
  header .material-icons {
    color: #28a7e9; }
  header span {
    padding: 0 10px 0 8px; }
  header p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.nav {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #28a7e9 !important; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0; } }
  @media (min-width: 360px) and (max-width: 767px) {
    .nav {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0; } }
  .nav.nav-sticky {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0; }

#about .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #about .media header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #about .media header .media-icon {
      border: 1px solid #fff;
      border-radius: 2px;
      color: #fff;
      font-size: 24px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center; }
    #about .media header .media-heading {
      font-size: 18px;
      font-weight: bold;
      padding-left: 40px; }
  #about .media .media-body {
    display: block;
    padding: 20px 0;
    height: 100%; }

#home {
  background-size: 100% auto;
  padding: 160px 0 100px;
  min-height: 300px; }
  @media (min-width: 360px) and (max-width: 767px) {
    #home {
      padding: 50px 0 50px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #home {
      min-height: 500px; } }
  @media (min-width: 1024px) {
    #home {
      min-height: 700px; } }
  #home h1 {
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 10px; }
    @media (min-width: 360px) and (max-width: 767px) {
      #home h1 {
        font-size: 25px; } }
    #home h1 span {
      color: #28a7e9;
      font-weight: bold; }
  #home .btn {
    background: transparent;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    padding-top: 18px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #home .btn:hover {
      background: #28a7e9;
      border-color: transparent; }

#contact {
  font-weight: 500; }
  #contact .fa {
    margin-right: 10px;
    color: #28a7e9;
    border: 1px solid #28a7e9;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer; }
  #contact .social-icon {
    position: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #contact .social-icon li {
      display: inline-block;
      list-style: none; }
      #contact .social-icon li h4 {
        margin-right: 10px; }
      #contact .social-icon li a {
        border: 1px solid #28a7e9;
        color: #28a7e9;
        border-radius: 2px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        margin-right: 10px; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none repeat scroll 0 0 #ffffff; }
  .preloader .sk-spinner-wave.sk-spinner {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px; }
  .preloader .sk-spinner-wave div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .preloader .sk-spinner-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .preloader .sk-spinner-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .preloader .sk-spinner-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .preloader .sk-spinner-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

/*# sourceMappingURL=app.css.map */
