section(id="about")
  div(class="container")
    div(class="row")

      div(class="col s12")
        h2(class="wow bounceIn", data-wow-offset="50", data-wow-delay="0.3s")
          | Quý khách hàng sẽ được đảm bảo toàn bộ các 
          span TIÊU CHÍ

      div(class="col l4 m4 s12 wow fadeInLeft", data-wow-offset="50", data-wow-delay="0.6s")
        article(class="media")
          header
            h3(class="media-heading") CHẤT LƯỢNG
          div(class="media-body")
            p
              | Chất lượng của sản phẩm đảm bảo đúng theo những 
              | gì mà UNIMEX AUTO đã chào bán

      div(class="col l4 m4 s12  wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s")
        article(class="media")
          header
            h3(class="media-heading" ) GIÁ CẢ
          div(class="media-body")
            p
              | Giá cả của sản phẩm được đảm bảo thống nhất trên toàn lãnh thổ Việt Nam

      div(class="col l4 m4 s12  wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s")
        article(class="media")
          header
            h3(class="media-heading") BẢO HÀNH
          div(class="media-body")
            p 
              | Sản phẩm được bảo hành và bảo trì theo đúng tiêu chuẩn của nhà sản xuất.