section(id='home')
  div(class='container')
    div(class='row')
      div(class='col-md-offset-2 col-md-8')
        h1(class='wow fadeIn', data-wow-offset='50', data-wow-delay='0.9s')
          | Salon và Trung tâm dịch vụ ô tô 
          span UNIMEX 
          | gửi lời chào trân trọng và lời chúc sức khoẻ tới Quý khách hàng cùng gia đình !
          
        //- div(class='element')
        //-   div(class='sub-element') Hello, this is Typed.js
        //-   div(class='sub-element') Awesome Template is provided by templatemo.com website for everyone
        //-   div(class='sub-element') Download, edit and apply this awesome template for your websites
        
        <a class="waves-effect waves-light btn-large blue" href="#about">Tìm Hiểu</a>

div(class="divider")