nav(class="nav", role='navigation')
  div(class="container nav-wrapper")
    a(class="brand-logo", href='#') UMINEX AUTO
    ul(id='dropdown', class='dropdown-content')
      li: a(href='#top') Trang Chủ
      li: a(href='#about') Giới Thiệu
      li: a(href='#service') Dịch Vụ
      li: a(href='#partners') Đối Tác
      li: a(href='#contact') Liên Hệ

    ul(class='right hide-on-med-and-down')
      li: a(href='#top') Trang Chủ
      li: a(href='#about') Giới Thiệu
      li: a(href='#service') Dịch Vụ
      li: a(href='#partners') Đối Tác
      li: a(href='#contact') Liên Hệ