section(id="service")
  div(class="container")
    div(class="row")
      div(class="col-md-12")
        h2(class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s")
          | UIMEX AUTO mong muốn mang đến cho 
          span Quý khách hàng 
          | những sản phẩm đa dạng, đảm bảo chất lượng kèm theo những 
          span Dịch vụ hoàn hảo

      div(class="col l4 m4 s12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s")
        p 
          | Dịch vụ cung cấp và nhập khẩu uỷ thác các dòng xe ô tô.

      div(class="col l4 m4 s12 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s")
        p 
          | Dịch vụ đổi xe, sang tên đổi biển số các dòng xe đang lưu hành tại Việt Nam.

      div(class="col l4 m4 s12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s")
        p 
         | Dịch vụ tư vấn, lập phương án hoàn thiện thủ tục vay vốn trả góp, 
         | nộp thuế và đăng kiểm xe trong thời gian nhanh nhất.