extends ../layouts/default

block main
  div(class="parallax-container")
    div(class="parallax")
      img(src="imgs/background.jpg")
  include ../parts/home-sec
  div(class="parallax-container")
    div(class="parallax")
      img(src="imgs/background1.jpg")
  include ../parts/about-sec
  div(class="parallax-container")
    div(class="parallax")
      img(src="imgs/background2.jpg")
  include ../parts/service-sec
  div(class="parallax-container")
    div(class="parallax")
      img(src="imgs/background3.jpg")
  include ../parts/contact-sec
  include ../parts/googlemap